<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/803215b3a7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="estilo.css">
  <title>Index</title>
</head>

<body>
  <!--------------------------------Cabeçalho--------------------------------------->
  <header class="container cabecalho">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
       <a class="navbar-brand" href="#">
        <img src="imgs/logo01.jpeg"  alt="logo">
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navlink1" href="artigo.html">Pagina inicial</a>
        </li>
        <li class="nav-item">
          <a class="navlink2" href="sobrenos.html">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="navlink3" href="contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="navlink4" href="login.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="navlink5" href="inscreverse.html">Inscrever-se</a>
        </li>
        <li class="nav-item">
          <a class="navlink5" href="perfil.html">Perfil</a>
        </li>
      </ul>
    </nav>
  </header>

  <!---------------------------------Barra lateral---------------------------------->
  <main class="container main">
    <section class="row corpo">
      <div class="col-4">
        <div class="grid_barraLat">
          <div class="row butao1">
            <button type="button" class="btn btn-outline-warning"><a href="https://diversa.org.br/inclusao-de-alunos-com-autismo-na-escola-dicas-e-exemplos-para-pratica/?gclid=CjwKCAiA-9uNBhBTEiwAN3IlNKsaLWymPnsI9f_6C_xSCo_MJD9pTpQYIhn0dcC0I85HmGzVsaamohoCcMQQAvD_BwE">Inclusão de alunos com autismo na escola: dicas e exemplos para a prática</a></button>
          </div>
          <div class="row butao2">
            <button type="button" class="btn btn-outline-warning"><a href="https://rd.uffs.edu.br/bitstream/prefix/1251/1/BATTISTI%20e%20HECK.pdf">A inclusão escolar de crianças com autismo na educação básica: Teoria e Prática</a></button>
          </div>
          <div class="row butao3">
            <button type="button" class="btn btn-outline-warning"><a href="https://www.scielo.br/j/rgenf/a/Qp39NxcyXWj6N6DfdWWDDrR/?format=pdf&lang=pt">Autismo infantil: impacto do diagnóstico e
repercussões nas relações familiares</a></button>
          </div>
          <div class="row butao4">
            <button type="button" class="btn btn-outline-warning"><a href="https://periodicos.fclar.unesp.br/tes/article/view/13539">A relação entre autismo, família e aprendizagem, em artigos da base de dados Scielo</a></button>
          </div>
          <div class="row butao5">
            <button type="button" class="btn btn-outline-warning"><a href="https://www.psicologia.pt/artigos/textos/A0259.pdf">Caracterização da Síndrome Autista</a></button>
          
          </div>
          <div class="row butao6">
            <button type="button" class="btn btn-outline-warning"><a href="https://scielosp.org/article/csp/2018.v34n8/e00109917/">Transtorno do espectro do autismo e idade dos genitores: estudo de caso-controle no Brasil</a></button>
          </div>
          <div class="row butao7">
            <button type="button" class="btn btn-outline-warning"><a href="http://periodicos.unespar.edu.br/index.php/mosaico/article/viewFile/19/pdf">Causas Neurológicas do Autismo</a></button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="grid_principal">
          <div class="row titulo">
            <h1>Aprenda mais sobre o TEA (Transtorno do Espectro Autista)</h1>
          </div>
          <div class="row texto">
            <p>
              Explore a página e encontre diversos artigos científicos sobre o espectro autista, principalmente voltados às crianças e seu desenvolvimento
            </p>
          </div>
        </div>
      </div>
    </section>









  </main>







  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>