<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/803215b3a7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="estilo.css">
  <title>Index</title>
</head>

<body>
  <!--------------------------------Cabeçalho--------------------------------------->
  <header class="container cabecalho">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navlogo" href="artigo.html">Logo</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navlink1" href="artigo.html">Pagina inicial</a>
        </li>
        <li class="nav-item">
          <a class="navlink2" href="sobrenos.html">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="navlink3" href="contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="navlink4" href="login.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="navlink5" href="inscreverse.html">Inscrever-se</a>
        </li>
        <li class="nav-item">
          <a class="navlink5" href="perfil.html">Perfil</a>
        </li>
      </ul>
    </nav>
  </header>

  <!---------------------------------Barra lateral---------------------------------->
  <main class="container main">
    <section class="row corpo">
      <div class="col-4">
        <div class="grid_barraLat">
          <div class="row butao1">
            <button type="button" class="btn btn-outline-warning">Artigo 1</button>
          </div>
          <div class="row butao2">
            <button type="button" class="btn btn-outline-warning">Artigo 2</button>
          </div>
          <div class="row butao3">
            <button type="button" class="btn btn-outline-warning">Artigo 3</button>
          </div>
          <div class="row butao4">
            <button type="button" class="btn btn-outline-warning">Artigo 4</button>
          </div>
          <div class="row butao5">
            <button type="button" class="btn btn-outline-warning">Artigo 5</button>
          </div>
          <div class="row butao6">
            <button type="button" class="btn btn-outline-warning">Artigo 6</button>
          </div>
          <div class="row butao7">
            <button type="button" class="btn btn-outline-warning">Artigo 7</button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="grid_principal">
          <div class="row titulo">
            <h1>Artigo 1</h1>
          </div>
          <div class="row texto">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui dolore, ad possimus quibusdam fugiat 
              totam accusantium autem unde sapiente a illo adipisci quasi eveniet fugit officiis molestiae, quaerat alias 
              exercitationem, nihil dicta. Ad consequuntur mollitia aliquam deserunt amet id neque earum! Adipisci vitae quaerat 
              explicabo architecto perspiciatis doloribus ad maiores accusantium laudantium, commodi tempore tempora praesentium 
              quos, veniam fugiat fuga. Illum vitae maxime qui similique, quaerat recusandae mollitia assumenda a exercitationem 
              consequuntur obcaecati perferendis deleniti sunt debitis natus doloremque eos culpa corporis corrupti! Quo, ea. Sit 
              at distinctio iusto animi fugiat asperiores ex voluptatibus saepe similique, blanditiis assumenda aut! Laborum, rerum nam. 
              Cumque blanditiis, doloremque deserunt inventore ducimus reiciendis odio, magnam ea rem unde ad repellendus? Sequi vel 
              illum labore quasi vero? Optio pariatur possimus exercitationem, dicta recusandae fugiat, quidem molestiae repellendus 
              provident non, explicabo quo minima. Illum, eos odio, dolorem corrupti voluptatem nobis consequatur ratione minima sed 
              quia fuga quae officia ex ipsam quidem? Deserunt atque est illo, maiores eveniet saepe tenetur veritatis odio eligendi 
              debitis sunt voluptas autem soluta labore id, nulla corrupti accusamus distinctio dolorem ut! Sunt minus sapiente voluptate, 
              natus incidunt aperiam saepe asperiores, sed odio doloremque dolorem neque odit officiis totam vitae eos voluptatum aspernatur 
              vel nam eaque dignissimos velit? Maiores repellat impedit in molestiae ratione id laborum commodi quis. Cupiditate ad veritatis 
              numquam delectus sequi accusamus maxime? Quod harum quo maiores corporis sapiente consequatur iure accusantium officia laborum 
              perferendis laboriosam, soluta error esse obcaecati vitae, voluptas vel, nihil aut ducimus doloremque id accusamus! Ullam ea 
              magnam sit, ad corporis cum veritatis, eius culpa est minus provident facilis esse exercitationem. Laborum, sint cum laboriosam 
              odio iure numquam iusto qui quos doloremque quasi omnis molestias aliquam vero iste atque. Quia iure doloribus laborum harum vel 
              impedit minus unde deserunt corrupti illo optio, eaque eligendi eius error?
            </p>
          </div>
        </div>
      </div>
    </section>









  </main>







  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>