<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/803215b3a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilo.css">
    <title>Contato</title>
</head>

<body>
    <!--------------------------------Cabeçalho--------------------------------------->
    <header class="container cabecalho">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navlogo" href="artigo.html">
                <img src="imgs/logo01.jpeg"  alt="logo">
            </a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navlink1" href="artigo.html">Pagina inicial</a>
                </li>
                <li class="nav-item">
                    <a class="navlink2" href="sobrenos.html">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="navlink3" href="contato.html">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="navlink4" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="navlink5" href="inscreverse.html">Inscrever-se</a>
                </li>
                <li class="nav-item">
                    <a class="navlink5" href="perfil.html">Perfil</a>
                </li>
            </ul>
        </nav>
    </header>


    <!---------------------------Contato------------------------------------------------>
    <main class="container mainC">
        <section class="row contato">
            <div class="col-4">
                <div class="contato1">
                    <div class="row tituloC">
                        <h1>Contato</h1>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="contato1">
                    <div class="row corpoC">
                        <h2>Profissionais Médicos</h2>
                        <p>
                            (**) *****-**** -> Psicólogos
                        </p>
                        <h2>Familiares</h2>
                        <p>
                            (**) *****-**** -> Pai
                        </p>
                        <p>
                            (**) *****-**** -> Mãe
                        </p>
                        <p>
                            (**) *****-**** -> Outro familiar
                        </p>
                        <h2>Staff do Site</h2>
                        <p>
                            (**) *****-**** -> Staff 1
                        </p>
                        <p>
                            (**) *****-**** -> Staff 2
                        </p>
                        <p>
                            (**) *****-**** -> Staff 3
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>