/* ----------------------------------- Barra de navegação ----------------------------------------*/

.navbar-nav {
    padding: 10px;
}
.navlogo {
    padding: 0px;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(255, 153, 0);
    font-size: 300%;
}
.navbar-nav a {
    justify-content: space-between;
    padding: 40px;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(255, 153, 0);
}

/* ----------------------------------- Index ----------------------------------------*/
.grid_barraLat {
    background-color: rgb(53, 30, 30);
    margin: 0px;
    padding: 0px;
}
.grid_barraLat button {
    padding: 35px;
    margin-left: 20px;
}
.butao1 {
    padding: 10px;
    margin-right: 25px;
    size: 50px;
    
}
.butao2 {
    padding: 10px;
    margin-right: 25px;
}
.butao3 {
    padding: 10px;
    margin-right: 25px;
}
.butao4 {
    padding: 10px;
    margin-right: 25px;
}
.butao5 {
    padding: 10px;
    margin-right: 25px;
}
.butao6 {
    padding: 10px;
    margin-right: 25px;
}
.butao7 {
    padding: 10px;
    margin-right: 25px;
}
body {
    background-color: rgb(206, 174, 125);   
}
.grid_principal {
    padding: 40px;
    size:120%;
}
.grid_principal h1{
    background-color: rgb(53, 30, 30);
    text-align: center;
    color: darkkhaki;
    padding: 20px;
}
.grid_principal p{
    background-color: rgb(53, 30, 30);
    padding: 20px;
    margin-top: 20px;;
    color: darkkhaki;
}

/* ----------------------------------- Sobre nos ----------------------------------------*/
.corpo1 h1{
    background-color: rgb(53, 30, 30);
    padding: 20px;
    margin-left: 95%;
    margin-top: 10%;
    text-align: center;
    color: darkkhaki;
}
.corpo1 p{
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
    padding: 2%;
    font-size: 18px;
    margin-top: 5%;
}

/* ------------------------------------- Login -------------------------------------------*/

.form-login{
    text-align: center;
    padding: 20px;
    margin-left: 0px;
    
}
.login-caixa{
    margin-left: 31%;
    margin-top: 10%;
}
h4 {
    color: darkkhaki;
    padding: 5%;
    background-color: rgb(53, 30, 30);
    font-size: 30px;
}
.input {
    padding: 10%;
    margin-top: 20%;
    background-color: rgb(53, 30, 30);
}

/* -------------------------------------Inscreva-se ----------------------------------------*/

h3 {
    color: darkkhaki;
    text-align: left;
    font-size: 25px;
}
.form-inscrever{
    text-align: center;
    padding: 20px;
    margin-left: 0px;
    
}
.inscrever-caixa{
    margin-left: 31%;
    margin-top: 2%;
}

.bwrapper {
    margin-top: 10%;
}

/* ----------------------------------- Contato ------------------------------------------- */

.contato1 h1{
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
    text-align: center;
    padding: 20px;
    margin-left: 95%;
    margin-top: 10%; 
}

.corpoC {
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
    text-align: center;
    padding: 20px;
    margin-top: 30%;
    margin-right: 40%;
}

.corpoC p{
    font-size: 20px;
}

/* -----------------------------------Pagina Inicial ------------------------------------*/

.perfil1 {
    padding: 8%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
}

.perfil1 h2{
    margin-top: 5%;
}

.perfil2 {
    padding: 5%;
    margin-top: 5%;
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
}

.perfil2 p {
    margin-right: 2%;
}

/*-------------------- Botão + Animação ------------------------ */

.material-button-anim {
  position: relative;
  padding: 127px 15px 27px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto 20px;
  margin-right: 30%;
  size: 100%;
  margin-top: 10%;
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    color: darkkhaki;
    background: rgb(53, 30, 30);
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
    ;
}
.material-button-toggle {
    z-index: 3;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.material-button-toggle span {
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
    -webkit-animation: toggleBtnAnim .175s;
    animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
    -webkit-transform: rotate(45deg);
    transform:         rotate(45deg);
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}

#options {
  height: 70px;
}
.option {
    position: relative;
    margin-right: 100%;
}
.option .option1,
.option .option2,
.option .option3 {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -webkit-transition: all .175s;
    transition:         all .175s;
;
}
.option .option1 {
    -webkit-transform: translate3d(90px,90px,0) scale(.8,.8);
    transform:         translate3d(90px,90px,0) scale(.8,.8);
}
.option .option2 {
    -webkit-transform: translate3d(0,90px,0) scale(.8,.8);
    transform:         translate3d(0,90px,0) scale(.8,.8);
}
.option .option3 {
    -webkit-transform: translate3d(-90px,90px,0) scale(.8,.8);
    transform:         translate3d(-90px,90px,0) scale(.8,.8);
}
.option.scale-on .option1, 
.option.scale-on .option2,
.option.scale-on .option3 {
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: all .175s;
    transition:         all .175s;
}
.option.scale-on .option2 {
    -webkit-transform: translateY(-28px) translateZ(0);
    transform:         translateY(-28px) translateZ(0);
    -webkit-transition: all .175s;
    transition:         all .175s;
}

@keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}
@-webkit-keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}

/* --------------------------------------------------------------------- */

.modal {
    padding: 6%;
    width: 45%;
    margin-left: 28%;
}


.modal-content {
    background-color: rgb(53, 30, 30);
    color: darkkhaki;
    font-family: Impact;
    padding: 5%;
    text-align: center;
}

.modal-content p{
    font-size: 15pt;
    text-align: left;
}

.close {
    margin-bottom: 105%;
    size: 100%;
}
label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-crises tbody {
     cursor: pointer;
 }
 #calendar{
     max-height: 90vh;
 }
