<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/803215b3a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilo.css">
    <title>Inscrever-se</title>
</head>

<body>
    <!--------------------------------Cabeçalho--------------------------------------->
    <header class="container cabecalho">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navlogo" href="artigo.html">Logo</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navlink1" href="artigo.html">Pagina inicial</a>
                </li>
                <li class="nav-item">
                    <a class="navlink2" href="sobrenos.html">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="navlink3" href="contato.html">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="navlink4" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="navlink5" href="inscreverse.html">Inscrever-se</a>
                </li>
                <li class="nav-item">
                    <a class="navlink5" href="perfil.html">Perfil</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--------------------------------Caixa de Inscrever---------------------------------->
    <div class="container login">
        <div class="row login1">
            <div class="row inscrever-caixa">
                <div class="col-4">
                    <div class="form-inscrever">
                        <h4>Inscreva-se</h4>
                        <div class="input">
                            <h3>Username</h3>
                            <input type="text" id="userName" class="form-control input-sm chat-input"
                                placeholder="username" />
                            </br>
                            <h3>Senha</h3>
                            <input type="text" id="userPassword" class="form-control input-sm chat-input"
                                placeholder="password" />
                            </br>
                            <h3>Email</h3>
                            <input type="text" id="userEmail" class="form-control input-sm chat-input"
                                placeholder="email" />
                            </br>
                            <h3>Nome Completo</h3>
                            <input type="text" id="userNome" class="form-control input-sm chat-input"
                                placeholder="nome" />
                            </br>
                            <h3>Idade</h3>
                            <input type="text" id="userIdade" class="form-control input-sm chat-input"
                                placeholder="idade" />
                            </br>
                            <h3>Indivíduo: </h3>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Selecione sua ocupação</option>
                                <option value="1">Portador da TEA</option>
                                <option value="2">Familiar</option>
                                <option value="3">Profissional médico</option>
                              </select>
                            <div class="bwrapper">
                                <span class="group-btn">
                                    <a href="#" class="btn btn-primary btn-md">inscrever <i class="fa fa-sign-in"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>